# Evitar archivos sensibles
credentials.json

# Ignorar carpetas innecesarias del sistema
.DS_Store

# Ignorar node_modules completamente
node_modules/

# Ignorar el archivo de variables de entorno locales
.env

# Ignorar la carpeta del entorno virtual
venv/